<div class="login-card">
    <h1 style="margin-bottom: 20px;font-size: 25px;">Sign Up Form</h1>
    <div class="al"><span>User Name</span><input type="text"/></div>
    <div class="al"><span> Email </span><input type="text"/></div>
    <div class="al"><span> Password </span><input type="text"/></div>
    <div class="al"><span> Conform Password </span><input type="text"/></div>
    <input type="submit" class="button-login" style="width: 60px;"/>
    <a style="margin-top: 20px;" routerLink="login" >Login?</a>
</div>